<!DOCTYPE html>
<html style="height:100%">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <!-- Bootstrap core CSS -->
    <link href="/media/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    
    <link href="/media/css/base.css" rel="stylesheet">
    <script src="/media/jquery-ui/external/jquery/jquery.js"></script>
    <script src="/media/jquery-ui/jquery-ui.min.js"></script>
    <link href="/media/jquery-ui/jquery-ui.css" rel="stylesheet">
    <script src="/media/bootstrap/js/bootstrap.min.js"></script>
    <link href="/media/fontawesome/css/fontawesome.css" rel="stylesheet">
    <link href="/media/fontawesome/css/brands.css" rel="stylesheet">
    <link href="/media/fontawesome/css/solid.css" rel="stylesheet">
    
    
    <script type="text/javascript">
      watle=function(){
      }();
      
      $(function() {
        $('.sidebar-nav a').filter(function(){return this.href==location.href}).parent().addClass('active').siblings().removeClass('active')
		$('.sidebar-nav a').click(function(){
			$(this).parent().addClass('active').siblings().removeClass('active')	
		})

        var logout_function=function(e){
          alert("Logout");
        }
        $("#wattle_logout").click(logout_function);
      });


    // register jQuery extension
    jQuery.extend(jQuery.expr[':'], {
        focusable: function (el, index, selector) {
            return $(el).is('a, button, :input, [tabindex]');
        }
    });

    $(document).on('keypress', 'input,select', function (e) {
        if (e.which == 13) {
            e.preventDefault();
            // Get all focusable elements on the page
            var $canfocus = $(':focusable');
            var index = $canfocus.index(this) + 1;
            if (index >= $canfocus.length) index = 0;
            $canfocus.eq(index).focus();
        }
    });      
      </script>
</head>

<body class="d-flex flex-column h-100">
<header>
    {% include 'menu/menu.html' %}
</header>
        <main role="main" class="flex-shrink-0">
               
        {% block content %}
        {% endblock %}
        </main>
            <footer class="footer mt-auto py-3 bg-dark" style="z-index:1">
                <div class="container">
                  <span class="text-muted">Wattle</span>
                </div>
              </footer>
    </body>
</html>