<!DOCTYPE html>
<html style="height:100%" class="theme_css">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <!-- Bootstrap core CSS -->
    <link href="/media/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    
    <link href="/media/css/base.css" rel="stylesheet">
    <script src="/media/jquery-ui/external/jquery/jquery.js"></script>
    <script src="/media/jquery-ui/jquery-ui.min.js"></script>
    <link href="/media/jquery-ui/jquery-ui.css" rel="stylesheet">
    <script src="/media/bootstrap/js/bootstrap.min.js"></script>
    <link href="/media/fontawesome/css/fontawesome.css" rel="stylesheet">
    <link href="/media/fontawesome/css/brands.css" rel="stylesheet">
    <link href="/media/fontawesome/css/solid.css" rel="stylesheet">
    
    
    <script type="text/javascript">
      watle=function(){
      }();
      
      $(function() {
//        $('.sidebar-nav a').filter(function(){return this.href==location.href}).parent().addClass('active').siblings().removeClass('active')
//		$('.sidebar-nav a').click(function(){
//			$(this).parent().addClass('active').siblings().removeClass('active')	
//		})

        var logout_function=function(e){
          alert("Logout");
        }
        $("#wattle_logout").click(logout_function);
      });


    // register jQuery extension
    jQuery.extend(jQuery.expr[':'], {
        focusable: function (el, index, selector) {
            return $(el).is('a, button, :input, [tabindex]');
        }
    });

    $(document).on('keypress', 'input,select', function (e) {
        if (e.which == 13) {
            e.preventDefault();
            // Get all focusable elements on the page
            var $canfocus = $(':focusable');
            var index = $canfocus.index(this) + 1;
            if (index >= $canfocus.length) index = 0;
            $canfocus.eq(index).focus();
        }
    });      
    $(document).ready(function () {
      a=localStorage.getItem('side_bar_active');
      if (a=="0") {
        $('#sidebar').toggleClass('active');
      }
          
      $('#sidebar a').on('dblclick', function () {
          $('#sidebar').toggleClass('active');
          a=localStorage.getItem('side_bar_active');
          if (a==null){
            localStorage.setItem('side_bar_active','0');
          }
          if (a=="1") localStorage.setItem('side_bar_active','0');
          if (a=="0") localStorage.setItem('side_bar_active','1');
          
          //document.cookie = "collapse_sidebar=John Doe";
      });

      });    
      </script>
</head>
{% set header_css="theme_css" %}
{% set wrapper_css="theme_css" %}
<body>
  {% include "common/header.html" %}
  <div class="wrapper">
    {% include "common/sidebar.html" %}
    
    
    <div id="content" >
      {% include "common/messages.html" %}
    {% block content %}
    {% endblock %}
    {% if form and form.sections %}
    {% include "common/spacer.html" %}
    {% endif %}
    {% include "common/footer.html" %}
  </div>
  
  </div>
      
</body>
</html>

