<nav class="navbar navbar-expand mb-0 p-2 top_header">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav mr-auto mt-0 mt-lg-0">
        <li class="nav-link">
        <strong>{{ state_vars.brand }}</strong>
      </li>

        {% if form %}
            {{ sections }}
            {% for section in form.sections %}
            <li class="nav-link"><a href="{{ section.anchor }}"><span class="fa fa-home solo">&nbsp;</span>{{ section.display }}</a></li>
            {% endfor %}
        {% endif %}

<li class='nav-link'>&nbsp;</li>

      </ul>

      <ul class="navbar-right mb-0">
        {% if not url %}
            {% if not current_user.is_authenticated%}
            <li class="nav-link"><a href="{{ url_for('api.login') }}" ><i class="fas fa-sign-in-alt"></i></a></li>
            {% endif %}
        {% endif %}
        
        {% if current_user.is_authenticated %}
            <!--
        <li>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </li>
        -->
        <li class="nav-link"><a href="{{ url_for('api.logout') }}" ><i class="fas fa-power-off"></i></a></li>
        {% endif %}
        </ul>
        {% if current_user.is_authenticated %}
        {% endif %}
    </ul>

    </div>
  </nav>


