<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wattle</title>
    <!-- Bootstrap core CSS -->
    <link href="/media/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/media/css/signin.css" rel="stylesheet">
    <script src="/media/jquery-ui/external/jquery/jquery.js"></script>
    <script src="/media/jquery-ui/jquery-ui.min.js"></script>
    <link href="/media/jquery-ui/jquery-ui.css" rel="stylesheet">
    <link href="/media/css/bluma.min.css" rel="stylesheet">
    
    <style>
        .hero.is-primary {
            background: rgba(2,0,36,1);
        }
    </style>
    <script type="text/javascript">
      watle=function(){
      }();
      
      $(function() {
        var logout_function=function(e){
          alert("Logout");
        }
        $("#wattle_logout").click(logout_function);
      });


    // register jQuery extension
    jQuery.extend(jQuery.expr[':'], {
        focusable: function (el, index, selector) {
            return $(el).is('a, button, :input, [tabindex]');
        }
    });

    $(document).on('keypress', 'input,select', function (e) {
        if (e.which == 13) {
            e.preventDefault();
            // Get all focusable elements on the page
            var $canfocus = $(':focusable');
            var index = $canfocus.index(this) + 1;
            if (index >= $canfocus.length) index = 0;
            $canfocus.eq(index).focus();
        }
    });      
      </script>
</head>
<body>
    <section class="hero is-primary is-fullheight">

        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div id="navbarMenuHeroA" class="navbar-menu">
                        <div class='navbar-start'>
                        {% if current_user.is_authenticated%}

                            <a href="{{ url_for('static.home') }}" class="navbar-item">
                                Home
                            </a>
                        {% endif %}

                        {% if not current_user.is_authenticated%}
                            <a href="{{ url_for('static.unauth') }}" class="navbar-item">
                                Home
                            </a>
                            {% endif %}

                        </div>
                        <div class="navbar-end">
                            {% if current_user.is_authenticated %}
                            <span class="navbar-item">
                            Logged In
                            </span>
                            {% endif %}
                            {% if not url %}
                                {% if not current_user.is_authenticated%}
                                <a href="{{ url_for('auth.login') }}" class="navbar-item">
                                    Login
                                </a>
                                {% endif %}
                            {% endif %}
                            
                            {% if current_user.is_authenticated %}
                            <a href="{{ url_for('auth.logout') }}" class="navbar-item">
                                Logout
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </nav>
        </div>

        <div class="hero-body">
            <div class="container has-text-centered">
               {% block content %}
               {% endblock %}
            </div>
        </div>
    </section>
</body>
</html>