{% set anchor = "Workflow" %}
{% extends "method/wrapper.html" %}
{% block content %}

<div class="form-group">
    <label class="col-md-4 control-label">Task Engine</label>
    <div class="col-md-4 inputGroupContainer">
        <div class="input-group">
            <span class="input-group-addon" style="max-width: 100%;"><i
                    class="glyphicon glyphicon-list"></i></span>
            <select class="selectpicker form-control">
                    <option>None</option>
                    <option>ddb</option>
                    <option>bash</option>
                    <option>ksh</option>
                    <option>Bluecat Address Manager</option>
                    <option>VMWare Automatation</option>
                </select>
        </div>
    </div>
</div>

{% endblock content %}    
