{% set anchor = "Input" %}
{% extends "method/wrapper.html" %}
{% block content %}
<div class="form-group">
    <label class="col-md-4 control-label">Display Plugin</label>
    <div class="col-md-8 inputGroupContainer">
        <div class="input-group">
            <span class="input-group-addon" style="max-width: 100%;"><i
                    class="glyphicon glyphicon-list"></i></span>
            <select class="selectpicker form-control" name="method_output">
                    <option value='table'>None</option>
                    <option value='table'>Interactive</option>
                    <option value='table'>RAW</option>
                </select>
        </div>
    </div>
</div>

{% endblock content %}    
