{% set anchor = "Maintenance" %}
{% extends "method/wrapper.html" %}
{% block content %}

    {{ render_field(form.yaml) }}



<section class="row"> 
    <div class="col">
        <div class="mr-2 mb-2 p-2">
            <div class="form-group">
                <div class="float-left">
                <button  type="submit" class="btn btn-primary">Import</button>
            </div>
            <div class="float-right">
                <button  type="submit" class="btn btn-primary">Export</button>
            </div>
        </div>
    </div>
</div>
</section>

{% endblock content %}    
