<div class="anchor_pad" id="Theme">
<section class="bg-dark mr-2 mb-2 p-2 rounded">
    <div class='col-md-12'>
        <h2>Theme</h2>

        <div class="form-group">
                <label class="col-md-8 control-label">Theme</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon" style="max-width: 100%;"><i
                                class="glyphicon glyphicon-list"></i></span>
                        <select class="selectpicker form-control" name={{mothod_theme}}>
                                <option>Default</option>
                                <option>Dark</option>
                                <option>Light</option>
                            </select>
                    </div>
                </div>
            </div>

            <div class="col-md-12 inputGroupContainer">
                    <div class="form-group white-border">
                        <label for="method_header">UI Header Text</label>
                        <textarea class="form-control" name="method_header" rows="3">{{method_header}}</textarea>
                    </div>
            </div>
            
            <div class="col-md-12 inputGroupContainer">
                    <div class="form-group white-border">
                        <label for="method_header">UI Footer Text</label>
                        <textarea class="form-control" name="method_footer" rows="3">{{method_footer}}</textarea>
                    </div>
            </div>
    
    </div>
</section>
</div>